<!-- breadcrumb start-->
<section class="breadcrumb breadcrumb_bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb_iner">
          <div class="breadcrumb_iner_item">

            <h2>Add To Cart</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- breadcrumb start-->

<!-- food menu part start-->
<section class="food_menu">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="single-member">
          <form [formGroup]="cartForm" (ngSubmit)="addToCart()">
            <div class="row">
              <div class="col-md-5"></div>
                <div class="col-sm-6 col-lg-6">
                  <div class="card mt-4 mb-4">
                    <div class="card__header">
                      <img [src]="getImgSrc(prodData?.image)" height="250px"
                                class="img-responsive" alt="...">
                    </div>
                    <div class="card__body">
                     
                      <h2> {{prodData?.productName}}</h2>
                                <p class="card-body">{{prodData?.description}}</p>
                                <label>Quantity:</label>
                                              <select formControlName="quantity" id="" class="mt-2 mb-2 ms-3"class="form-control-sm">
                                                <option *ngFor="let i of qtyArr">{{i}}</option>
                                              </select>
                                              <h3>Price:{{prodData?.price | currency:"INR"}}</h3>
                                <button type="submit" class="btn">Add To Cart</button>
                              </div>
                             
                    </div>
                </div>
              <div class="col-3"></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- food menu part end-->

