 <!-- footer part start-->
 <footer class="footer-area">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-xl-3 col-sm-6 col-md-3 col-lg-3">
          <div class="single-footer-widget footer_1">
            <img src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/3fdf1132849645.5605c9b43633c.jpg"height="80" alt="#" />
            <p>+880 253 356 263</p>
            <span>admin@contact.com</span>
            <div class="social_icon">
              <a href="#" class="single_social_icon"
                ><i class="fab fa-facebook-square"></i
              ></a>
              <a href="#" class="single_social_icon"
                ><i class="fab fa-instagram"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-md-2 col-lg-3">
          <div class="single-footer-widget footer_2">
            <h4>Quick links</h4>
            <div class="contact_info">
              <ul>
                <li><a href="#">About</a></li>
                <li><a href="#"> Menu</a></li>
                <li><a href="#">Reservation</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#"> Breakfast</a></li>
                <li><a href="#">Lunch</a></li>
                <li><a href="#">Dinner</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-md-4 col-lg-3">
          <div class="single-footer-widget footer_3">
            <h4>Subscribe newsletter</h4>
            <form action="#">
              <div class="form-group">
                <div class="input-group mb-3">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Email Address"
                    onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Email Address'"
                  />
                  <div class="input-group-append">
                    <button class="btn" type="button">
                      <i class="fas fa-paper-plane"></i>
                    </button>
                  </div>
                </div>
              </div>
            </form>
            <p>
              Subscribe newsletter to get all updates about discount and
              offers.
            </p>
          </div>
        </div>
      </div>
      <div class="copyright_part_text">
        <div class="row">
          <div class="col-lg-12 text-center">
            <p class="footer-text m-0">
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- footer part end-->
