

 <section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <!-- <p>Home. Menu</p> -->
                        <h2>View Feedback</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  <!-- breadcrumb start-->
  
  <!-- food menu part start-->
  <section class="food_menu">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="single-member">
                <div class="row">
                    <div class="col-sm-9 offset-md-1 table-responsive  ">
                       
                        <h1>View Feedback</h1>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name </th>
                                    <th>Phone No</th>
                                    <th>E-mail</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let i of feedback">
                                    <td>{{i.feedbackId}}</td>
                                    <td>{{i.name}}</td>
                                    <td>{{i.phone}}</td>
                                    <td>{{i.email}}</td>
                                    <td>{{i.message}}</td>
                                   
                                </tr>
                              
                            </tbody>
                        </table> 
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  <!-- food menu part end-->
  
  
  
  
