<!-- breadcrumb start-->
<section class="breadcrumb breadcrumb_bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcrumb_iner">
            <div class="breadcrumb_iner_item">
              <!-- <p>home. blog</p> -->
              <h2>Our Gallery</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- breadcrumb start-->

   <!--================Blog Area =================-->
   <section class="blog_area section_padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mb-5 mb-lg-0">
          <div class="blog_left_sidebar">
            <article class="blog_item">
              <div class="blog_item_img">
                <img
                  class="card-img rounded-0"
                  src="https://cdn.usarestaurants.info/assets/uploads/7efca94cc865b5d2cf930c3f73a6d564_-united-states-california-stanislaus-county-turlock-salt-pepper-taqueria-and-catering-209-427-2946htm.jpg"
                  alt=""
                />
                <a href="#" class="blog_item_date">
                  <h3>15</h3>
                  <p>Jan</p>
                </a>
              </div>

              <!-- <div class="blog_details">
                <a class="d-inline-block" href="single-blog.html">
                  <h2>Google inks pact for new 35-storey office</h2>
                </a>
                <p>
                  That dominion stars lights dominion divide years for fourth
                  have don't stars is that he earth it first without heaven in
                  place seed it second morning saying.
                </p>
                <ul class="blog-info-link">
                  <li>
                    <a href="#"
                      ><i class="far fa-user"></i> Travel, Lifestyle</a
                    >
                  </li>
                  <li>
                    <a href="#"
                      ><i class="far fa-comments"></i> 03 Comments</a
                    >
                  </li>
                </ul>
              </div> -->
            </article>

            <article class="blog_item">
              <div class="blog_item_img">
                <img
                  class="card-img rounded-0"
                  src="https://assets.hyatt.com/content/dam/hyatt/hyattdam/images/2014/09/21/1758/MUMGH-P161-Full-Restaurant.jpg/MUMGH-P161-Full-Restaurant.4x3.jpg?imwidth=1280"
                  alt=""
                />
                <a href="#" class="blog_item_date">
                  <h3>25</h3>
                  <p>Jan</p>
                </a>
              </div>

             
            </article>

            <article class="blog_item">
              <div class="blog_item_img">
                <img
                  class="card-img rounded-0"
                  src="https://r2imghtlak.mmtcdn.com/r2-mmt-htl-image/htl-imgs/200809021139312409-735922b0536e11e8ad440224510f5e5b.jpg?&output-quality=75&downsize=910:612&crop=910:612;0,22&output-format=jpg"
                  alt=""
                />
                <a href="#" class="blog_item_date">
                  <h3>13</h3>
                  <p>Feb</p>
                </a>
              </div>

             
            </article>

            <article class="blog_item">
              <div class="blog_item_img">
                <img
                  class="card-img rounded-0"
                  src="https://th.bing.com/th/id/R.8f33d6593a3f075e8f417510fa494c27?rik=kOg%2fy8pih%2fZk%2bQ&riu=http%3a%2f%2fnextrestaurants.com%2fwp-content%2fuploads%2f2018%2f08%2frestaurant-marketing-5star-dining.png&ehk=ofoPYXA5nCv%2fxzkoSHqUKMfS2FJQ7cutVJ4AIHv8%2bcU%3d&risl=&pid=ImgRaw&r=0"
                  alt=""
                />
                <a href="#" class="blog_item_date">
                  <h3>11</h3>
                  <p>Mar</p>
                </a>
              </div>

             
            </article>

            <article class="blog_item">
              <div class="blog_item_img">
                <img
                  class="card-img rounded-0"
                  src="https://media-cdn.tripadvisor.com/media/photo-s/10/aa/1e/dc/photo1jpg.jpg"
                  alt=""
                />
                <a href="#" class="blog_item_date">
                  <h3>15</h3>
                  <p>Mar</p>
                </a>
              </div>

              
            </article>

            
          </div>
        </div>
        <div class="col-lg-4">
          <div class="blog_right_sidebar">
            <!-- <aside class="single_sidebar_widget search_widget">
              <form action="#">
                <div class="form-group">
                  <div class="input-group mb-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Search Keyword"
                      onfocus="this.placeholder = ''"
                      onblur="this.placeholder = 'Search Keyword'"
                    />
                    <div class="input-group-append">
                      <button class="btn" type="button">
                        <i class="ti-search"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <button
                  class="button rounded-0 primary-bg text-white w-100 btn_4"
                  type="submit"
                >
                  Search
                </button>
              </form>
            </aside> -->

            <aside class="single_sidebar_widget post_category_widget">
              <h4 class="widget_title">Category</h4>
              <ul class="list cat-list">
                <li>
                  <a href="#" class="d-flex">
                    <p>Resaurant food</p>
                    
                  </a>
                </li>
                <li>
                  <a href="#" class="d-flex">
                    <p>Vegetarian food</p>
                   
                  </a>
                </li>
                <li>
                  <a href="#" class="d-flex">
                    <p>Non-Veg</p>
                    
                  </a>
                </li>
                <li>
                  <a href="#" class="d-flex">
                    <p>Drinks</p>
                    
                  </a>
                </li>
                <li>
                  <a href="#" class="d-flex">
                    <p>Table</p>
                    
                  </a>
                </li>
                <li>
                  <a href="#" class="d-flex">
                    <p>Feedback</p>
                    
                  </a>
                </li>
              </ul>
            </aside>

            <aside class="single_sidebar_widget popular_post_widget">
              <h3 class="widget_title">Recent Post</h3>
              <div class="media post_item">
                <img src="../../assets/img/post/post_1.png" alt="post" />
                <div class="media-body">
                  <a href="single-blog.html">
                    <h3>From life was you fish...</h3>
                  </a>
                  <p>January 12, 2019</p>
                </div>
              </div>
              <div class="media post_item">
                <img src="../../assets/img/post/post_2.png" alt="post" />
                <div class="media-body">
                  <a href="single-blog.html">
                    <h3>The Amazing Hubble</h3>
                  </a>
                  <p>02 Hours ago</p>
                </div>
              </div>
              <div class="media post_item">
                <img src="../../assets/img/post/post_3.png" alt="post" />
                <div class="media-body">
                  <a href="single-blog.html">
                    <h3>Astronomy Or Astrology</h3>
                  </a>
                  <p>03 Hours ago</p>
                </div>
              </div>
              <div class="media post_item">
                <img src="../../assets/img/post/post_4.png" alt="post" />
                <div class="media-body">
                  <a href="single-blog.html">
                    <h3>Asteroids telescope</h3>
                  </a>
                  <p>01 Hours ago</p>
                </div>
              </div>
            </aside>
            <aside class="single_sidebar_widget tag_cloud_widget">
              <h4 class="widget_title">Tag Clouds</h4>
              <ul class="list">
                <li>
                 <a>project</a> 
                </li>
                <li>
                  <a >love</a>
                </li>
                <li>
                  <a>technology</a>
                </li>
                <li>
                  <a >travel</a>
                </li>
                <li>
                  <a>restaurant</a>
                </li>
                <li>
                  <a>life style</a>
                </li>
                <li>
                  <a>design</a>
                </li>
                <li>
                  <a>illustration</a>
                </li>
              </ul>
            </aside>

            <aside class="single_sidebar_widget instagram_feeds">
              <h4 class="widget_title">Instagram Feeds</h4>
              <ul class="instagram_row flex-wrap">
                <li>
                  <a href="#">
                    <img class="img-fluid" src="../../assets/img/post/post_5.png" alt="" />
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img class="img-fluid" src="../../assets/img/post/post_6.png" alt="" />
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img class="img-fluid" src="../../assets/img/post/post_7.png" alt="" />
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img class="img-fluid" src="../../assets/img/post/post_8.png" alt="" />
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img class="img-fluid" src="../../assets/img/post/post_9.png" alt="" />
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img
                      class="img-fluid"
                      src="../../assets/img/post/post_10.png"
                      alt=""
                    />
                  </a>
                </li>
              </ul>
            </aside>

          
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================Blog Area =================-->
