




 
<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <!-- <p>Home. Menu</p> -->
                        <h2>Table View</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  <!-- breadcrumb start-->
  
  <!-- food menu part start-->
  <section class="food_menu">
    <div class="container">
        <div class="row ">
            <div class="col-lg-12">
                <div class="single-member">
                <div class="row  ">
                    <div class="col-md table-responsive ">
                        <h1>Table View</h1>
                        <table class="table table-bordered ">
                            <thead>
                                <tr>
                                    <th>Sr no.</th>
                                    <th>User Id</th>
                                    <th>Table Id</th>
                                    <th>Date</th>
                                    <th>Description</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>211</td>
                                    <td>10</td>
                                    <td>2-april-2023</td>
                                    <td>2 to 4 person table for family</td>
                                    
                                </tr>
                               
                            </tbody>
                        </table>
                        
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  <!-- food menu part end-->
  
  
  
  
  
  