
h1{
    font-size: 42px;
    text-align: center;
    }
    .table{

        text-align: center;
        font-size: 22px;
    }
    th{

        text-align: center;
        background-color: rgb(214, 173, 134);
    
    }