.card{
    /* background-color: black; */
    background-color: black
}
h3{
    font-weight: bolder;
    color: white;
}
.card-text1{
    font-size: 100px;
    color: orange;

}
.span{
    color:white;
    font-size:xx-large;
    margin-left: 15px;
   position: relative;
   top:-35px;
}
h6{
    color:white;
}