<section class="breadcrumb breadcrumb_bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb_iner">
          <div class="breadcrumb_iner_item">
            <!-- <p>Home. Menu</p> -->
            <h2>Admin Dashboard</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- breadcrumb start-->

<!-- food menu part start-->
<section class="food_menu">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="single-member">
          <div class="row">
            <div class="col-md mt-3">
              <div class="card mx-auto" style="width: 18rem;">
                <div class="card-body">
                  <h3 class="card-title">Customer</h3>
                  <h6>Total Customers</h6>
                  <span class="card-text1"><i class="fa fa-cutlery" aria-hidden="true"></i></span>
                  <span class="span">Total:{{customer}}</span>
                </div>
              </div>
            </div>
            <div class="col-md mt-3">
              <div class="card mx-auto" style="width: 18rem;">
                <div class="card-body">
                  <h3 class="card-title">Categories</h3>
                  <h6>Total Categories</h6>
                  <span class="card-text1"><i class="fa fa-cutlery" aria-hidden="true"></i></span>
                  <span class="span">Total:{{category}}</span>
                </div>
              </div>
            </div>
            <div class="col-md mt-3">
              <div class="card mx-auto" style="width: 18rem;">
                <div class="card-body">
                  <h3 class="card-title">Sub Categories</h3>
                  <h6>Total Sub-Categories</h6>
                  <span class="card-text1"><i class="fa fa-cutlery" aria-hidden="true"></i></span>
                  <span class="span">Total:{{subcategory}}</span>
                </div>
              </div>
            </div>
            <div class="col-md mt-3">
              <div class="card mx-auto" style="width: 18rem;">
                <div class="card-body">
                  <h3 class="card-title">Product</h3>
                  <h6>Total Product</h6>
                  <span class="card-text1"><i class="fa fa-cutlery" aria-hidden="true"></i></span>
                  <span class="span">Total:{{product}}</span>
                </div>
              </div>
            </div>
          <!-- </div>
          <div class="row mt-4"> -->
            <div class="col-md mt-3">
              <div class="card mx-auto" style="width: 18rem;">
                <div class="card-body">
                  <h3 class="card-title">Orders</h3>
                  <h6>Total Orders</h6>
                  <span class="card-text1"><i class="fa fa-cutlery" aria-hidden="true"></i></span>
                  <span class="span">Total:{{order}}</span>
                </div>
              </div>
            </div>
            <div class="col-md mt-3">
              <div class="card mx-auto" style="width: 18rem;">
                <div class="card-body">
                  <h3 class="card-title">Tables</h3>
                  <h6>Total Table</h6>
                  <span class="card-text1"><i class="fa fa-cutlery" aria-hidden="true"></i></span>
                  <span class="span">Total:{{table}}</span>
                </div>
              </div>
            </div>
            <div class="col-md mt-3">
              <div class="card mx-auto" style="width: 18rem;">
                <div class="card-body">
                  <h3 class="card-title">Tables Booking</h3>
                  <h6>Booking Details</h6>
                  <span class="card-text1"><i class="fa fa-cutlery" aria-hidden="true"></i></span>
                  <span class="span">Total:{{booking}}</span>
                </div>
              </div>
            </div>
            <div class="col-md mt-3">
              <div class="card mx-auto" style="width: 18rem;">
                <div class="card-body">
                  <h3 class="card-title">Employees</h3>
                  <h6> Total Employee</h6>
                  <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                  <span class="card-text1"><i class="fa fa-cutlery" aria-hidden="true"></i></span>
                  <span class="span">Total:{{employee}}</span>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</section>
<!-- food menu part end-->